---
import type { HTMLAttributes } from "astro/types";
import theme from "@data/theme";

type Props = HTMLAttributes<"a"> & {
  label: string;
  isUnderline?: boolean;
};

const { label, isUnderline, ...props } = Astro.props;
---

<a
  href={props.href}
  class:list={{
    ["hover:text-neutral-100 cursor-pointer"]: true,
    [`underline decoration-dashed underline-offset-8 hover:decoration-${theme.colors.primary}-500`]: isUnderline,
  }}
  {...props}
  rel="noreferrer"
  target="_blank"
>
  {label}
  <span class="sr-only">{label} link</span>
</a>
