---
import Navbar from "@components/Navbar.astro";
import ToggleNav from "@components/ToggleNav.astro";
import Link from "@components/shared/Link.astro";
import presentation from "@data/presentation";
---

<header
  class="z-40 flex w-full flex-col justify-between gap-2 md:flex-row md:justify-between"
>
  <div class="flex w-full items-center justify-between lg:w-auto">
    <Link
      href={`mailto:${presentation.mail}`}
      label="Email Address"
      isUnderline
    />
    <ToggleNav id="nav-toggler" />
  </div>

  <Navbar id="mobile-menu" />
</header>
<script>
  const button = document.getElementById("nav-toggler");
  const menu = document.getElementById("mobile-menu");

  button?.addEventListener("click", () => {
    menu?.classList.toggle("hidden");
  });
</script>
