---
import Navbar from "@components/Navbar.astro";
import ToggleNav from "@components/ToggleNav.astro";
import Link from "@components/shared/Link.astro";
import presentation from "@data/presentation";
---

<header class="z-40 flex w-full flex-col gap-2 md:flex-row md:justify-between">
  <Link
    href={`mailto:${presentation.mail}`}
    label={presentation.mail}
    isUnderline
  />

  <nav role="navigation" class="pt-4 md:pt-0">
    <ul role="list" class="flex flex-row items-center gap-2 text-center">
      <NavItem title="home" path="/" />
      <NavItem title="projects" path="#projects" />
      <NavItem title="stack" path="#stack" />
      <NavItem title="contact" path="#contact" />
    </ul>
  </nav>
</header>
